/* Scroll behavior set to 'smooth' so navlinks scroll to each section. */
* {
    box-sizing: border-box;
    line-height: 1.5;
    scroll-behavior: smooth;
    background-color: #E7F0F3;   
}

body {
  font-family: sans-serif;
  margin: 0;
}

/* Header Styling */
header {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 40px;
  text-align: center;
  background: #121D32;
  color: #E7F0F3;
}

/* Title box with name. */
h1 {
  background-color: #121D32;
  font-size: 46pt;
  padding: 5px;
  align-items: flex-start;
}

/* Navlinks */
nav ul {
  display: flex;
  margin: 10px;
  border-style: solid;
  border-width: 1px;

}

nav {
  background-color: #121D32;
  display: flex;
  align-items: flex-end;
}

nav li {
  display: flex;
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
 
}

nav a {
  color: #E7F0F3;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  background-color: #648AB1;
}

/* Sets parent container for main body of page to flex layout. */
main {
  display: flex;
  flex-wrap: wrap;
}

/* Width set to %20 to make aside boxes appear as a single column. */
aside {
  display: flex;
  width: 20%;
  margin-bottom: 20px;
  padding-right: 20px;
  justify-content: flex-end;
  align-items: flex-start;
  border-right: 5px solid #121D32
}

/* Styling for bio section. */
.about-me {
  justify-content: space-around;
}

.about-me img {
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  max-height: 200px;
  flex: 0 0;
}

.about-me p {
  max-width: 60%;
}

/* Makes section titles move toward the right side of the container. */
aside h2 {
  justify-content: flex-end;
}

/* Sets Styling for section boxes. Set to 80% width so they will load next to aside box with appropriate title. */
section {
  display: flex;
  width: 80%;
  flex-flow: row wrap;
  margin-bottom: 20px;
  justify-content: space-evenly;
}

/* Makes the most recent portfolio entry  appear larger. */
.horiseon {
  justify-content: space-evenly;
  padding: 5px;
  margin: 20px;
}

.horiseon img {
  max-width: 100%;
  flex: 2 0 auto;
}

/* Container for portfolio links. */
.work {
  flex-wrap: wrap;
  width: 50%;
  margin: 15px;
  padding: 10px;
  flex: 0 0 400px;
}

.work img {
  max-width: 100%;
  z-index: -1;
}

/* On medium-sized screens the left-hand column will be smaller, and the navlinks appear under the title in the heder. */
@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  nav {
    align-items: center;
    justify-self: flex-end;
  }

  
  aside { 
    width: 10%;
    padding: 5px;
    font-size: 10pt;
    justify-content: flex-end;
  }

  section {
    width: 90%
  }

/* On smaller devices, the flex direction is set to column in the <main> container to make the aside cards appear as small headers above their respective sections. The links in the portfolio section will appear in one column instead of two. */
@media screen and (max-width: 576px) {
  main {
    flex-direction: column;
  }

  aside {
    width: 100%;
    max-height: 30px;
    border-right: none;
    border-bottom: 5px solid #121D32;
    justify-content: left;
  }

  #section-2 {
    flex-direction: column;
    width: 100%;
  }

  .work {
    flex-wrap: nowrap;
    width: 100%;
    margin: 15px;
    padding: 10px;
    flex: 0 0 400px;
  }
}